
.icon-univates:before { content: '\e800'; } /* '' */
.icon-universo-univates:before { content: '\e801'; } /* '' */
.icon-univates-virtual:before { content: '\e802'; } /* '' */
.icon-minha-biblioteca:before { content: '\e803'; } /* '' */
.icon-biblioteca-virtual:before { content: '\e804'; } /* '' */
.icon-lattes:before { content: '\e805'; } /* '' */
.icon-exercicio:before { content: '\e806'; } /* '' */
.icon-forum:before { content: '\e807'; } /* '' */
.icon-leitura:before { content: '\e808'; } /* '' */
.icon-podcast:before { content: '\e809'; } /* '' */
.icon-referencias:before { content: '\e80a'; } /* '' */
.icon-video:before { content: '\e80b'; } /* '' */
.icon-dica-filme:before { content: '\e80c'; } /* '' */
.icon-lembre-se:before { content: '\e80d'; } /* '' */
.icon-telefone:before { content: '\e80e'; } /* '' */
.icon-zoom:before { content: '\e80f'; } /* '' */
.icon-material-complementar:before { content: '\e810'; } /* '' */
.icon-objetivos:before { content: '\e811'; } /* '' */
.icon-material-didatico:before { content: '\e812'; } /* '' */
.icon-desafio:before { content: '\e813'; } /* '' */
.icon-atividade:before { content: '\e814'; } /* '' */
.icon-para-pensar:before { content: '\e815'; } /* '' */
.icon-saiba-mais:before { content: '\e816'; } /* '' */
.icon-dica-site:before { content: '\e817'; } /* '' */
.icon-dica_de_leitura:before { content: '\e818'; } /* '' */
.icon-conceito:before { content: '\e819'; } /* '' */
.icon-dica-livro:before { content: '\e81a'; } /* '' */
.icon-email:before { content: '\e81b'; } /* '' */